<ul class="flex flex-col gap-8" id="posts-list">
  {% if posts.len() == 0 %}
  <p class="text-xl md:text-2xl">Ooops, no posts yet!</p>
  {% else %} {% for post in posts %}
  <li class="block w-full tracking-wider space-y-2">
    <a class="group" href="/posts/{{ post.slug }}" hx-boost="true" hx-select="main" hx-target="main"
      hx-swap="outerHTML show:window:top">
      <h2 class="text-gruvbox-yellow text-2xl md:text-3xl relative flex
        items-center w-max
        [#featured-posts_&]:text-xl md:[#featured-posts_&]:text-2xl">
        {# arrow #}
        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="rotate-180 w-8 h-auto opacity-0 transition-all duration-200 absolute -right-4 group-hover:opacity-100 group-focus:opacity-100 group-hover:translate-x-8 group-focus:translate-x-8 mt-1">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
        </svg>
        {{ post.title }}
      </h2>
    </a>
    <p>{{ post.summary|truncate(200) }}</p>
    <ul class="flex gap-4">
      {% for tag in post.tags %}
      <li class="text-gruvbox-gray font-light italic">{{ tag }}</li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %} {% endif %}
</ul>
