<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}kiyov09.dev{% endblock %}</title>

    <link rel="stylesheet" href="/static/output.css" />
  </head>

  <body class="bg-neutral-800 text-white tracking-wide selection:bg-yellow-500
    selection:text-neutral-800 overflow-x-hidden">
    <div class="p-4 w-full mx-auto md:max-w-5xl md:pt-8">

      <nav class="flex justify-between items-center">
        <a href="/" class="text-xl font-semibold text-yellow-500">kiyov09.dev</a>
        <ul class="gap-6 hidden md:flex">
          {% for link in crate::templates::LINKS %}
            <li>
              <a
                href="{{ link.href }}"
                class="transition-colors duration-200 hover:text-yellow-500
              hover:underline focus:text-yellow-500 focus:underline"
              >
                {{ link.label }}
              </a>
            </li>
          {% endfor %}
        </ul>
        {% include "partials/hamburger.html" %}
      </nav>

      <div class="py-8">
        {% block content %}Content{% endblock %}
      </div>
    </div>
  </body>
</html>
