<a
  hx-boost="true"
  class="relative mt-10 text-yellow-500 text-lg flex gap-2 items-center hover:underline focus:underline group"
  href="/"
>
  <svg
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-6 h-6 opacity-0 transition-all duration-200 absolute left-0 top-1/2 -translate-y-1/2 group-hover:opacity-100 group-focus:opacity-100 group-hover:-translate-x-8 group-focus:-translate-x-8"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
    />
  </svg>
  Back to home
</a>
